* {
box-sizing: border-box;
margin: 0;
color: #fff;
}
html, body{
height: 100%;
width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cursor{
    height: 30px;
    width: 30px;
    background-color: white;
    mix-blend-mode: difference;
    position: absolute;
    border-radius: 50%;
    transition: all linear 0.2s;
}
h1{
    font-size: 9vw;
    font-weight: 900;
}
